*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}


h1{
    margin-top: 20px;
}


.container{
    margin-left: 50px;
    margin-right: 166.8px;
}


.description{
    margin-top: 10px;
    text-align: left;
    font-weight: bold;
    border: 3.5px solid;
    border-color: red;
    
}

#table{
    margin-top: 50px;
    width:100%;
}

.statements{
    width:64%;
}

#box{
    text-align: center;
}